html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
	background: #fff url("../img/water-bg.png") no-repeat 0px 145px;
}

@media (max-width: 991px) and (min-width: 768px){
	body {
		background: #fff url("../img/water-bg.png") no-repeat 0px 90px;
	}
}

@media (max-width: 767px){
	body {
		background: #fff url("../img/water-bg.png") no-repeat 0px 70px;
	}
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#main.container-fluid {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header .top-bar {
	width: 100%;
	height: 42px;
	background: #083d8c;
}

@media (min-width: 768px) {
	.top-bar .container,
	.nav-wrap .container,
	.nav-wrap .navbar .container-fluid {
		padding: 0;
	}
}


.top-bar .container div {
	float: right;
	margin-top: 10px;
}

.top-bar .container div a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.top-bar .container div a:nth-child(2) {
	margin-left: 47px;
}

.top-bar .container div a:nth-child(2) img{
	margin-left: 8px;
}

.nav-wrap {
	background: #fff;
	padding-bottom: 26px;
	border: none;
	box-shadow: 0px 0px 8px rgba(125, 125, 125, 0.88);
}

@media (max-width: 767px) {
	.nav-wrap {
		padding-bottom: 6px;
	}
}

.nav-wrap .container {
	text-align: center;
}

.nav-wrap .navbar.navbar-default {
	border: none;
	background-color: #fff;
	margin: 0;
	margin-top: 20px;
}

.nav-wrap .nav li a span:last-child {
	display: none;
}

.nav-wrap .menu-title {
	display: none;
	font-size: 18px;
	font-weight: 700;
	color: #01529e;
	padding-top: 8px;
	padding-bottom: 22px;
}

.nav-wrap .menu-close {
	display: none;
	border: none;
	background: none;
	font-size: 26px;
	float: right;
	margin-top: -68px;
	margin-right: 13px;
	color: #0bc9c8;
}

@media (max-width: 991px) {
	.nav-wrap .nav li a span:first-child {
		float: left;
		font-size: 18px;
		font-weight: 600;
		color: #616161;
	}

	.nav-wrap .nav li a span:last-child {
		display: block;
		float: right;
		color: #0bc9c8;
	}

	.nav-wrap .nav li {
		padding: 12px 0;
		background: #f6f6f6;
	}

	.nav-wrap .nav li:not(:nth-child(4)) {
		margin-bottom: 2px;
	}

	.nav-wrap .navbar-collapse {
		position: absolute;
		background: #fff;
		width: 100%;
		top: -20px;
		left: 0;
		padding: 0;
		padding-top: 18px;
		z-index: 9;
		border-top: 4px solid #0bc9c8;
		border-bottom: 4px solid #0bc9c8;
	}

	.nav-wrap .nav {
		width: 100%;
		margin: 0;
	}

	.nav-wrap .menu-close {
		display: block;
	}

	.nav-wrap .menu-title {
		display: block;
	}
}

@media (max-width: 767px) {
	.nav-wrap .navbar-collapse {
		width: calc(100% + 30px);
	}
}

@media (max-width: 767px) {
	.nav-wrap .navbar-brand {
		width: 44%;
		height: auto;
	}

	.nav-wrap .navbar-brand img {
		max-width: 100%;
		max-height: 100%;
	}

}

.nav-wrap .navbar-toggle {
	border: none;
	border-radius: 100%;
	background: #fff;
	width: 55px;
	height: 55px;
	position: absolute;
	top: 11px;
	right: 4px;
	margin: 0;
	box-shadow: 0px 2px 7px rgba(123, 123, 123, 0.76);
	z-index: 5;
}

.nav-wrap .navbar-toggle .icon-bar {
	background-color: #073c8b;
	height: 3px;
	margin-left: 6px;
}

.nav-wrap .navbar-toggle .icon-bar:nth-child(3) {
	width: 18px;
	margin-left: 10px;
}

#nav-menu a {
	font-weight: 700;
	color: #083d8c;
	font-size: 15px;
}

#nav-menu ul {
	margin-top: 4px;
}

.find-min-btn,
.find-pro-btn {
	display: inline-block;
	text-decoration: none !important;
	font-weight: 700;
	font-size: 20px;
	color: #206cdf;
	border: 2px solid #4a88e5;
	border-radius: 3px 3px;
	padding: 5px;
}

@media (max-width: 413px) and (min-width: 360px) {
	.find-min-btn {
		font-size: 14px;
	}
}

.find-pro-btn {
	font-size: 15px;
	padding: 10px !important;
	margin-top: 2px;
}

.find-min-btn {
	font-size: 15px;
	margin-top: 10px;
	margin-left: -60px;
}

.find-min-btn:hover {
	color: #206cdf;
}

@media (max-width: 359px) {
	.find-min-btn {
		font-size: 10px;
	}
}

@media (min-width: 1200px) {
	#nav-menu li a {
		padding-left: 30px;
		padding-right: 30px;
	}

	.find-pro-btn {
		margin-left: 85px;
	}

}

.find-min-btn img,
.find-pro-btn img {
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.find-pro-btn img {
	margin-right: 8px;
}

@media (min-width: 992px) {
	.find-min-btn {
		display: none;
	}

	.main-content .row {
		margin: 0;
	}
}

@media (max-width: 991px) {
	.nav-wrap .nav li:last-child {
		display: none !important;
	}
}

/*collapse navbar sooner than 768px*/
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/* ---------- */

.main-content {
	padding-top: 130px;
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 767px) {
	.main-content {
		padding-top: 106px
	}
}

.main-content .rslts-fltr-wrp {
	background: #f6f6f6;
	height: 80px;
	border-radius: 5px 5px;
}

@media (max-width: 991px) {
	.main-content .rslts-fltr-wrp {
		height: auto;
		padding: 17px;
	}
}

.rslts-fltr-wrp .dealers span {
	font-size: 18px;
	font-weight: 700;
	color: #216ddf;
}

@media (max-width: 359px) {
	.rslts-fltr-wrp .dealers span {
		font-size: 14px;
	}
}

.m-wrap {
	margin: auto;
	padding-left: 10%;
}

@media (max-width: 991px) {
	.m-wrap {
		padding-left: 0;
	}
}

.m-wrap .border {
	display: inline-block;
	height: 55px;
	margin: 0 30px;
	border-right: 2px solid #ececec;
	position: relative;
	top: 12px;
}

.dealers {
	display: inline-block;
	position: relative;
	top: -9px;
}

@media (max-width: 991px) {
	.dealers {
		top: 12px;
	}
}

.checkgrp {
	display: inline-block;
	position: relative;
	top: -9px;
}

@media (max-width: 992px) {
	.m-wrap .border {
		display: none;
	}

	.checkgrp {
		display: none;
	}
}

.checkgrp .grp-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #3f3f3f;
	margin-right: 12px;
}

.checkgrp ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.checkgrp ul li {
	display: inline;
	padding-left: 38px;
}

@media (max-width: 1199px) {
	.checkgrp ul li {
		padding-left: 8px;
	}
}

.checkgrp label {
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.tooltip-btn {
	color: #4782b5;
	font-size: 12px;
	font-weight: 700;
	border: none;
	border-radius: 3px 3px;
	padding: 1px 7px;
	display: inline-block;
	background: #d8d8d8;
	text-decoration: none !important;
	cursor: pointer;
	margin-left: 8px;
	position: relative;
	top: -2px;
}

.tooltip-btn:hover {
	color: #4782b5
}

.checkgrp-min {
	display: none;
	float: right;
}

@media (max-width: 992px) {
	.checkgrp-min {
		display: inline-block;
	}
}

.checkgrp-min .toggle-collapse {
	border: 1px solid #ddd;
	background: #fff;
}

.toggle-collapse > span {
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
	padding: 12px 10px;
}

.checkgrp-min .toggle-collapse button {
	border: none;
	border-radius: 0;
	border-left: 1px solid #ddd;
	height: 48px;
}

#checkgrp-min-menu {
	background: #fff;
	border: 1px solid #ececec;
	padding: 22px;
}

#checkgrp-min-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#checkgrp-min-menu li:not(:last-child) {
	margin-bottom: 34px;
}

#checkgrp-min-menu label {
	font-size: 15px;
	font-weight: 400;
	margin: 0;
}

.info-wrp {
	padding-top: 30px;
}

@media (max-width: 991px) {
	.info-wrp {
		padding-top: 16px;
	}
}

.info-wrp .thumbnail {
	padding: 0;
	border-radius: 5px;
	box-shadow: 0px 2px 7px rgba(123, 123, 123, 0.76);
	text-align: center;
}

.company-name {
	text-align: center;
	width: 100%;
	height: 90px;
	display: table;

}

.tap-to-call {
	display: none;
	border: none;
	border-radius: 3px;
	background: #216ddf;
	color: #fff;
	padding: 10px 8px;
	text-decoration: none !important;
}

@media (max-width: 991px) {
	.tap-to-call {
		display: inline-block;
	}
}

.tap-to-call:hover {
	color: #fff;
}

.tap-to-call > span:first-child {
	padding: 6px 7px;
	background: #083d8c;
}

.tap-to-call > span:nth-child(2) {
	font-size: 10px;
	font-weight: 800;
	margin-right: 4px;
}

.tap-to-call > span:last-child {
	font-size: 18px;
	font-weight: 800;
	margin-right: 10px;
}

.company-name h2 {
	margin: 0;
	font-size: 26px;
	font-weight: 300;
	display: table-cell;
	vertical-align: middle;
}

.info-wrp .thumbnail > span {
	display: block;
	width: 94%;
	margin: auto;
	border-bottom: 2px solid #ececec;
}

@media (max-width: 991px) {
	.info-wrp .thumbnail > span {
		display: none;
	}
}

.company-info {
	text-align: center;
	margin-top: 33px;
}

.contact > span {
	display: block;
}

@media (max-width: 991px) {
	.contact > span:first-child {
		display: none;
	}
}

.contact > span:first-child img,
.contact > span:first-child h2 {
	display: inline-block
}

.contact > span:first-child img {
	position: relative;
	top: -7px;
	left: -7px;
}

.contact > span:first-child h2  {
	font-size: 28px;
	font-weight: 800;
	margin: 0;
}

.contact > span:nth-child(2) {
	font-size: 12px;
	font-style: italic;
	margin-top: 12px;
	margin-bottom: 20px;
}

.contact-pro-btn {
	display: inline-block;
	border: 2px solid #02c7c6;
	border-radius: 3px 3px;
	padding: 16px 19px;
	text-decoration: none !important;
}

.contact-pro-btn:hover {
	color: #083d8c;
}

.contact-pro-btn img,
.contact-pro-btn span {
	display: inline-block !important;
}

.contact-pro-btn img {
	position: relative;
	top: -1px;
	margin-right: 6px !important;
}

.contact-pro-btn span {
	color: #083d8c;
	font-size: 15px;
	font-weight: 700;
}

.company-hrs {
	margin-top: 40px;
	margin-bottom: 37px;
}

.company-hrs > span {
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
}

.company-hrs > span:first-child {
	font-weight: 700;
}

.company-specialty {
	border: none;
	background: #f6f6f6;
	padding: 27px 40px;
}

.company-specialty > div:first-child {
	float: left;
	width: 50%;
}

@media (max-width: 320px) {
	.company-specialty > div:first-child {
		margin-left: -10px;
	}
}

.company-specialty > div:last-child {
	float: right;
	width: 50%;
	padding-left: 8%;
	text-align: left;
}

@media (max-width: 320px) {
	.company-specialty > div:last-child {
		padding-left: 0;
	}
}

.company-specialty span img,
.company-specialty span span {
	display: inline-block
}

.company-specialty span img {
	position: relative;
	top: -2px;
	left: -4px;
}

.company-specialty > div:last-child > span:last-child img {
	top: 0;
}

.company-specialty span {
	display: block;
	font-size: 12px;
}

.company-specialty > div > span:first-child {
	margin-bottom: 15px;
}

@media (max-width: 1200px) and (min-width: 992px){
	.company-specialty {
		padding: 27px 22px;
	}

	.company-specialty > div:last-child {
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	.info-wrp > div:first-child,
	.info-wrp > div:nth-child(4),
	.info-wrp > div:nth-child(7) {
		padding-left: 0;
	}

	.info-wrp > div:nth-child(2),
	.info-wrp > div:nth-child(5) {
		padding: 0;
	}

	.info-wrp > div:nth-child(3),
	.info-wrp > div:nth-child(6) {
		padding-right: 0;
	}
}

@media (max-width: 991px) {
	.info-wrp > div {
		padding-left: 25px;
		padding-right: 25px;
	}
}

footer {
	text-align: center;
	margin-top: 86px;
}

@media (max-width: 991px) {
	footer {
		margin-top: 40px;
	}
}

footer .ftr-logo-wrp {
	background: #083d8c;
	padding-top: 35px;
	padding-bottom: 30px;
}

.ftr-logo-wrp > img {
	margin-bottom: 27px
}

.ftr-logo-wrp > span {
	display: block;
}

.ftr-logo-wrp > span > span:first-child {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	margin-right: 30px;
}

.social-links > a:nth-child(2) img {
	margin: 0 20px;
}

.ftr-links {
	background: #216ddf;
	padding: 14px 0;
}

.ftr-links a,
.ftr-links span {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.ftr-links .separator {
	margin: 0 15px;
}

@media (max-width: 411px) and (min-width: 321px){
	.ftr-links .separator {
		margin: 0 8px;
	}
}

@media (max-width: 320px) {
	.ftr-links .separator {
		margin: 0 -1px;
	}
}

.frm-top-links {
	padding-bottom: 15px;
}

.frm-top-links > span:last-child img {
	position: relative;
	top: -1px;
	margin-left: 10px;
}

.ftr-links .ftr-border {
	width: 348px;
	margin: auto;
	margin-bottom: 15px;
	border-bottom: 1px solid #fff;
}

/* custom checkbox and radio style */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  width: 24px;
  height: 24px;
  background: url("../img/custom-check.png") no-repeat center;
  background-size: 18px 18px;
  position: absolute;
  top: -3px;
  left:-3px;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

/* ------------ */

.email-modal .modal-content {
	border-radius: 0;
}

.email-modal .modal-header {
	background: #083d8c;
	padding: 20px;
	border: none;
}

.email-modal .modal-header .close {
	color: #fff;
	opacity: 1;
}

.email-modal .modal-header > span {
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-top: 12px;
	margin-left: 13px;
}

.email-modal .modal-title {
	font-size: 28px;
	color: #fff;
	margin-left: 12px;
	margin-bottom: 15px;
}

.email-modal .modal-body {
	padding: 22px 24px;
}

.email-modal .modal-body form {
	background: #f6f6f6;
	padding: 18px;
}

.email-modal .modal-footer {
	background: #f6f6f6;
	font-size: 11px;
	text-align: left;
	border: none;
}

@media (max-width: 991px) {
	.email-modal .modal-footer {
		display: none;
	}
}

.email-modal .form-group label {
	font-size: 14px;
	font-weight: 700;
}

.email-modal .form-group input,
.email-modal .form-group textarea {
	border-radius: 0;
}

/* hide number spinners */
.email-modal .form-group input[type=number]::-webkit-inner-spin-button, 
.email-modal .form-group input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.email-modal .form-group #phone {
	width: 40%;
}

form textarea {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.choice-btn-wrp {
	padding-top: 8px;
}

.choice-btn-wrp .btn {
	padding: 6px 18px;
	border: 1px solid #3f3f3f;
}

.choice-btn-wrp .btn:hover,
.choice-btn-wrp .btn-default:active,
.choice-btn-wrp .btn-default:focus {
	background-color: #01c7c6;
	color: #fff;
}

.choice-btn-wrp .btn:first-child {
	margin-right: 5px;
}

.choice-btn-wrp ul {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.choice-btn-wrp li {
	display: inline;
	margin-right: 10px;
}

@media (max-width: 991px) {
	.choice-btn-wrp ul {
		display: block;
	}

	.choice-btn-wrp > button {
		display: none;
	}
}

.email-modal form > span {
	display: block;
	width: 100%;
	margin: auto;
	border-bottom: 2px solid #ececec;
	margin-top: 20px;
}

.email-modal .form-group .opt-text {
	float: right;
	font-size: 14px;
	font-style: italic;
	color: #bebebe;
}

@media (max-width: 768px) {
	.opt-text.pool-spa {
		display: none;
	}
}

.email-modal .form-group .valid-check {
	float: right;
	border: 1px solid #36d3a1;
	border-radius: 100%;
	color: #36d3a1;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
}

.email-modal .form-group .valid-empty {
	float: right;
	border: 1px solid #bdbdbd;
	border-radius: 100%;
	display: block;
	width: 20px;
	height: 20px;
}

.email-modal .form-group .phone + .valid-empty {
	float: right;
	margin-right: 60%;
}

@media (max-width: 442px) {
	.email-modal .form-group #phone {
		width: 70%;
	}

	.email-modal .form-group .phone + .valid-empty {
		margin-right: 30%;
	}
}

.send-mail-wrp {
	text-align: center;
	padding-top: 15px;
}

.send-mail-wrp .btn {
	border: none;
	background: none;
	font-weight: 700;
	font-size: 16px;
}

.send-mail-wrp .glyphicon-chevron-right {
	color: #01c7c6;
	margin-left: 5px;
}

.submit-min {
	display: none;
	float: right;
	color: #01c7c6;
}

.submit-min:hover {
	color: #01c7c6;
}

@media (max-width: 991px) {
	.submit-min {
		display: block;
	}

	.submit-reg {
		display: none;
	}
}